.border-toolbox {
  border: 1px solid #ccc;
}

.row {
  display: flex;
  flex-direction: row;
}

.szh-menu__arrow--dir-bottom {
  top: 0.5rem !important;
}

.szh-menu__item {
  background-color: #ffffff;
}

.quill {
  height: 80vh;
}
